*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-bg{
    background-image: url(../img/hero-bg.jpg);
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-electrician{
    background-image: url('../img/billionphotos1079319min.png');
    background-size: cover;
    background-repeat: no-repeat;
}

